@import "tailwindcss";

@import 'leaflet/dist/leaflet.css';

/* Eliminar fondo y borde de los iconos personalizados de Leaflet */
.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

/* Clase específica para tus marcadores (si usas className='custom-marker') */
.custom-marker {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Para cualquier otro div dentro del mapa que pueda tener fondo */
.leaflet-marker-icon {
  background: transparent !important;
  border: none !important;
}